<link rel="stylesheet" href="/styles.css">
<nav>
    <a class="logo" href="/">OyaaNow</a>
    <ul>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blogs">Blogs</a>
        <a href="/create">Create</a>
    </ul>
</nav>